
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand nav" routerLink="/home"  routerLinkActive="active"><img src="../../../../assets/images/award.png"  style="height: 40px;width: 40px;"/></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link  nav"   routerLink="/home"  routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav" routerLink="/list"  routerLinkActive="active">Operations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav" routerLink="/new"  routerLinkActive="active">Add Operations</a>
          </li>
         
        </ul>
      
      </div>
    </div>
  </nav>  
