<div class="myHome">
    <div>
        <h4>Discover our secure,convenient banking with our Mobile app.</h4>
        <h5>Manage your finances effortlessly and securely, anytime and anywhere.</h5>
        <img class="appliBankImage" src="../../../../assets/images/6134225.jpg"  />
    </div>
   

  
</div>

<div class="myHome2">
        <app-card-home 
            image="../../../../assets/images/salary.png" 
            title="$200 checking cach offer" 
            text="Start by opening a new checking account online through this offer page. You’re in the right place to explore your checking options"/>

        <app-card-home 
            image="../../../../assets/images/investement.png" 
            title="Investment solutions for you" 
            text="We offer a range of solutions to help you pursue your goals. Find the approach that fits your needs."/>

        <app-card-home 
            image="../../../../assets/images/bell.png" 
            title="Custom mobile alert" 
            text="With our Mobile Banking app, prioritize what you see based on what matters most to you."/>
</div>
